
.App {
  /* text-align: center; */
}

 /* Register css */
#card{
  margin-top: 40px;
  border-radius: 50px;
  
 }
#Submit{

  margin-top: 8px;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 4.15;
  padding-left: .80em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top:13px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
   /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;  */
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home section */
#menu-tile, #specials-tile, #map-tile{
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;   
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
  box-shadow: 0 1px 5px 1px #cccccc;
  text-decoration: none;
}

#menu-tile{

  background-position: center;
}



#menu-tile span, #specials-tile span, #map-tile span{
  position: sticky;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8 ;
}

/* Footer section */



footer {
  position:sticky;
  bottom:0;
  width:100%;

}

.sidebar{
  margin-top: 20px;
 
}

