@import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css";

.App {
  /* text-align: center; */
}

/* Register css */
#card {
  margin-top   : 40px;
  border-radius: 50px;

}

#Submit {

  margin-top: 8px;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size    : 1rem;
  line-height  : 4.15;
  padding-left : .80em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.App-logo {
  height        : 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;  */

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Home section */
#menu-tile,
#specials-tile,
#map-tile {
  height       : 250px;
  width        : 100%;
  margin-bottom: 15px;
  position     : relative;
  border       : 2px solid #3f0c1f;
  overflow     : hidden;
}

#menu-tile:hover,
#specials-tile:hover,
#map-tile:hover {
  box-shadow     : 0 1px 5px 1px #cccccc;
  text-decoration: none;
}

#menu-tile {

  background-position: center;
}



#menu-tile span,
#specials-tile span,
#map-tile span {
  position        : sticky;
  bottom          : 0;
  right           : 0;
  width           : 100%;
  text-align      : center;
  font-size       : 1.6em;
  text-transform  : uppercase;
  background-color: #000;
  color           : #fff;
  opacity         : .8;
}


/* StarRating section */

   input[type ="radio"]{
  display: none;
}    

.star{
  cursor: pointer;
  transition: color 200ms;
}



/* Footer section */



footer {
  bottom: 0;
  width : 100%;

}

.sidebar {
  margin-top: 20px;

}

/* img home */

.ListItem-main-card {
  width : 320px;
  height: 415px;
}

.ListItem-img {
  height    : auto;
  max-height: 200px;
  width     : auto;
  max-width : 500px;
}


.crazy {
  position: absolute;
}


.custom-card-categories {
  width: 18rem;
}

/*Carruser filtros*/
.carruselFiltro {
  cursor: pointer;
}

.brand-image {
  background-image        : url("./resources/brand.jpg");
  background-repeat       : no-repeat;
  background-size         : cover;
  background-position     : center;
  /* background-attachment: fixed; */
}

.half-image{
  background-size: 100% 50%;
  background-position: left top;
}

.img-size {
  max-height: 300px;
  width     : 500px;
}

.div-container {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.ServiceItem-img {
  display     : block;
  margin-left : auto;
  margin-right: auto;
  height      : auto;
  max-height  : 1000px;
  width       : auto;
  max-width   : 1000px;
}


.img-bg {
  pointer-events: none;
  position: static;
  width: 100%;
  height: 100%;
  z-index: -1;
}

p{
  font-size: 1.2em;
  color: #000;
}